{{define "details"}}
{{template "header" .}}
    <h1>Details</h1>
    <p class="lead">Exmployee details.</p>
    Id: {{.ID}}</br>
    Name: {{.Name}}</br>
    Balance: {{.CurrentCount}}</br></br>

    <!-- <a href='/changename/{{.ID}}?version={{.Version}}'>Rename</a></br>
    <a href='/deactivate/{{.ID}}?version={{.Version}}'>Deactivate</a></br> -->
    <a href='/checkin/{{.ID}}?version={{.Version}}'>Credit Money</a></br>
    <a href='/remove/{{.ID}}?version={{.Version}}'>Debit Money</a>
{{template "footer" .}}
{{end}}